# Игнорируем папки сборки
build/
Debug/
Release/

# Игнорируем личные настройки IDE
.vscode/
.vs/

# Игнорируем скомпилированные и временные файлы
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tlog

# Игнорируем системные файлы
Thumbs.db
.DS_Store